 <div class="col-md-4">
                        <div class="card card-feature text-center text-lg-left">

                            <h3 class="card-feature__title"><span class="card-feature__icon">
                                <i class="ti-layers"></i>
                            </span>{{title}}</h3>
                            <p class="card-feature__subtitle">{{description}}</p>
                        </div>
                    </div>