  <div class="col-md-6 col-lg-4">
                    <div class="card-service text-center text-lg-left mb-4 mb-lg-0">
                        <span class="card-service__icon">
                            <i class="flaticon-brain"></i>
                        </span>
                        <h3 class="card-service__title">{{{title}}}</h3>
                        <p class="card-service__subtitle">{{{description}}}</p>
                        <a class="card-service__link" href="#">Learn More</a>
                    </div>
                </div>