﻿<template>
	<div class ="header--standard header--standard-landing" id="header--standard">
        <div class ="container">
            <div class ="header--standard-wrap">
                <a href="#" class ="logo">
                    <div class ="img-wrap">
                        <img src="img/logo.png" alt="Olympus">
                        <img src="img/logo-colored-small.png" alt="Olympus" class ="logo-colored">
                    </div>
                    <div class ="title-block">
                        <h6 class ="logo-title">olympus</h6>
                        <div class ="sub-title">SOCIAL NETWORK</div>
                    </div>
                </a>
                <a href="#" class ="open-responsive-menu js-open-responsive-menu">
                    <svg class ="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                </a>
                <div class ="nav nav-pills nav1 header-menu">
                    <div class ="mCustomScrollbar">
                        <ul>
                            <li class ="nav-item">
                                <a href="#" class ="nav-link">Home</a>
                            </li>
                            <li class ="nav-item dropdown">
                                <a class ="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>Profile</a>
                                <div class ="dropdown-menu">
                                    <a class ="dropdown-item" href="#">Profile Page</a>
                                    <a class ="dropdown-item" href="#">Newsfeed</a>
                                    <a class ="dropdown-item" href="#">Post Versions</a>
                                </div>
                            </li>
                            <li class ="nav-item dropdown dropdown-has-megamenu">
                                <a href="#" class ="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>Forums</a>
                                <div class ="dropdown-menu megamenu">
                                    <div class ="row">
                                        <div class ="col-sm-3">
                                            <h6 class ="column-tittle">Main Links</h6>
                                            <a class ="dropdown-item" href="#">Profile Page<span class ="tag-label bg-blue-light">new </span></a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                        <div class ="col-sm-3">
                                            <h6 class ="column-tittle">BuddyPress</h6>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page<span class ="tag-label bg-primary">HOT!</span></a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                        <div class ="col-sm-3">
                                            <h6 class ="column-tittle">Corporate</h6>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                        <div class ="col-sm-3">
                                            <h6 class ="column-tittle">Forums</h6>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                            <a class ="dropdown-item" href="#">Profile Page</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class ="nav-item">
                                <a href="#" class ="nav-link">Terms & Conditions</a>
                            </li>
                            <li class ="nav-item">
                                <a href="#" class ="nav-link">Events</a>
                            </li>
                            <li class ="nav-item">
                                <a href="#" class ="nav-link">Privacy Policy</a>
                            </li>
                            <li class ="close-responsive-menu js-close-responsive-menu">
                                <svg class ="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                            </li>
                            <li class ="nav-item js-expanded-menu">
                                <a href="#" class ="nav-link">
                                    <svg class ="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                                    <svg class ="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                                </a>
                            </li>
                            <!--<li class ="shoping-cart more">
                                <a href="#" class ="nav-link">
                                    <svg class ="olymp-shopping-bag-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-shopping-bag-icon"></use></svg>
                                    <span class ="count-product">2</span>
                                </a>
                                <div class ="more-dropdown shop-popup-cart">
                                    <ul>
                                        <li class ="cart-product-item">
                                            <div class ="product-thumb">
                                                <img src="img/product1.png" alt="product">
                                            </div>
                                            <div class ="product-content">
                                                <h6 class ="title">White Enamel Mug</h6>
                                                <ul class ="rait-stars">
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="far fa-star star-icon" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <div class ="counter">x2</div>
                                            </div>
                                            <div class ="product-price">$20</div>
                                            <div class ="more">
                                                <svg class ="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                            </div>
                                        </li>
                                        <li class ="cart-product-item">
                                            <div class ="product-thumb">
                                                <img src="img/product2.png" alt="product">
                                            </div>
                                            <div class ="product-content">
                                                <h6 class ="title">Olympus Orange Shirt</h6>
                                                <ul class ="rait-stars">
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="fa fa-star star-icon c-primary" aria-hidden="true"></i>
                                                    </li>
                                                    <li>
                                                        <i class ="far fa-star star-icon" aria-hidden="true"></i>
                                                    </li>
                                                </ul>
                                                <div class ="counter">x1</div>
                                            </div>
                                            <div class ="product-price">$40</div>
                                            <div class ="more">
                                                <svg class ="olymp-little-delete"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class ="cart-subtotal">Cart Subtotal: <span>$80</span></div>
                                    <div class ="cart-btn-wrap">
                                        <a href="#" class ="btn btn-primary btn-sm">Go to Your Cart</a>
                                        <a href="#" class ="btn btn-purple btn-sm">Go to Checkout</a>
                                    </div>
                                </div>
                            </li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Vue from "vue";

	export default Vue.extend({
		methods:{
			initHeader() {
				  var $header = $('#header--standard');

				if ($header.length) {
					$header.headroom(
						{
							"offset": 210,
							"tolerance": 5,
							"classes": {
								"initial": "animated",
								"pinned": "slideDown",
								"unpinned": "slideUp"
							}
						}
					);
				}
			}
		},
		mounted() {
			//this.initHeader();
		}
	});
</script>